<div class="page-container clearfix" ng-controller="ctrlLyrics">
    <div class="container">
        <div class="social" style="position: fixed; right: 0; z-index: 999;">
            <div class="pull-right">
                <h4>SHARE</h4>
                <span class="lyric-share">
                    <ul>
                        <li><a href="#!" onclick="javascript:void(0)" target="_blank" title="Share On Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li style="float: left; display: inline-block; clear: both; margin-top: 3px;"><a href="#!" onclick="javascript:void(0)" target="_blank" title="Share On Twitter"><i class="fa fa-twitter"></i></a></li>
                    </ul>
                </span>
            </div>
        </div>

        <div class="second-container second-padding clearfix" style="min-height: 185px;">
            <div class="row marginb40">
                <div class="col-lg-8 col-sm-8 col-lg-offset-2 col-sm-offset-2 clearfix">
                    <article class="clearfix post-2598 lyrics type-lyrics status-publish has-post-thumbnail hentry tag-pop" id="post-2598">
                        </br>
                        <h1 class="txt-primary">
                            {{ iSong.SongName }}
                            <span class="zadash">- </span>
                            <div class="inline" style="display: inline;">
                                <h2 class="txt-primary artist-track-log"  style="display: inline;">
                                    <a href="#">
                                        {{ iSong.Singer }}
                                    </a>
                                </h2>
                            </div>
                        </h1>
                        </br>
                        <div id="index" class="lyric-line margint10 clearfix">
                            <div class="pull-left">
                                <h4>LYRIC</h4>
                            </div>
                            <div class="pull-right lyric-print">
                                <h4><a href="javascript:window.print()"><i class="fa fa-print"></i> Print</a></h4>
                            </div>
                        </div>
                        <p class="count-view" data-group=".fn-tab-panel" data-panel=".fn-tab-panel-stats" style="float: right;">
                            <b class="ico"></b>&nbsp;<span class="fn-total-play" >25,399,682</span> <i class="icon-down"></i>
                        </p>
                        <div class="lyric-text margint20 marginb20">
                            <div ng-bind-html="iSong.Lyrics" style="background: #f6f6f6;"></div>
                            <div>
                                <div class="margint20">
                                    <h3>Music Beat</h3>
                                </div>
                                <hr/>
                                <audio controls  style="width: 100%;"><source src="sound/Love-Paradise.mp3" type="audio/mpeg"></audio>
                            </div>

                            <div>
                                <div class="margint20">
                                    <h3>Tab Theory Guitar Pro</h3>
                                </div>
                                <hr/>
                                <img src='https://maxcdn.icons8.com/app/uploads/2016/10/download1.png' width="32" />
                                <a href="download/Love paradise.gp5">Love Paradise.gp5</a>
                            </div>

                            <div>
                                <div class="margint20">
                                    <h3>Music Theory</h3>
                                </div>
                                <hr/>
                                <div class="margint20 ads marginb20"><img src="image/Song1/Love paradise-1.png"></div>
                                <div class="margint20 ads marginb20"><img src="image/Song1/Love paradise-2.png"></div>
                                <div class="margint20 ads marginb20"><img src="image/Song1/Love paradise-3.png"></div>
                                <div class="margint20 ads marginb20"><img src="image/Song1/Love paradise-4.png"></div>
                                <div class="margint20 ads marginb20"><img src="image/Song1/Love paradise-5.png"></div>
                            </div>

                            <div>
                                <div class="margint20">
                                    <h3>Video Tuturial Guitar Pro</h3>
                                </div>
                                <hr/>
                                <video controls  style="width: 100%;"><source src="sound/theory lyrics.mp4" type="audio/mpeg"></video>
                            </div>

                            <ul class="related-list">
                                <div class="margint20 same-album">
                                    <h3>Other Songs from <a href="/muusico/album/sweet-talker/">{{ iSong.AlbumName }}</a> Album</h3>
                                </div>
                                <li><a href="/muusico/lyrics/who-you-are/">Who You Are</a></li>
                            </ul>
                            <ul class="related-list">
                                <div class="margint20">
                                    <h3>Related Lyrics</h3>
                                </div>
                                <li><a href="/muusico/lyrics/smooth-criminal-3/">Smooth Criminal</a></li>
                                <li><a href="/muusico/lyrics/lucky/">Lucky</a></li>
                                <li><a href="/muusico/lyrics/fix-you/">Fix You</a></li>
                                <li><a href="/muusico/lyrics/a-sky-full-of-stars/">A Sky Full of Stars</a></li>
                                <li><a href="/muusico/lyrics/break-free/">Break Free</a></li>
                                <li><a href="/muusico/lyrics/super-bass-2/">Super Bass</a></li>
                                <li><a href="/muusico/lyrics/part-of-your-world/">Part Of Your World</a></li>
                                <li><a href="/muusico/lyrics/anaconda-3/">Anaconda</a></li>
                                <li><a href="/muusico/lyrics/one-last-time/">One Last Time</a></li>
                                <li><a href="/muusico/lyrics/a-team/">A Team</a></li>
                            </ul>
                            <ul class="genre-list">
                                <li>Genres :</li>
                                <li><a href="/muusico/tag/pop/"> Pop</a></li>
                            </ul>
                            <div class="margint20 ads marginb20"></div>
                        </div>
                        <div class="lyric-bottom clearfix">
                            <div class="pull-left">
                                <span class="pull-left added"><p>Added by</p></span><span class="pull-left"><h3>{{ iSong.Poster }}</h3></span>
                            </div>
                        </div>
                    </article>
                    <div class="lyric-comment margint10">
                        <div class="comments-post">
                            <div class="comments margint10 clearfix">
                                <div class="comments-blog-post-top clearfix">
                                    <div class="com-title pull-left">
                                        <h4 id="comments">
                                            <a href="/muusico/lyrics/all-day/#respond" class="smooth">No comments yet</a></h4>
                                    </div>
                                    <div class="com-info pull-right">
                                        <a href="#respond" class="smooth">LEAVE A COMMENT</a></div>
                                </div>
                                <ol class="comment-list clearfix"></ol>
                            </div>
                        </div>
                        <div class="comments-post">
                            <div class="contact-form-style contact-hover">
                                <div id="respond-wrap">
                                    <div id="respond" class="comment-respond">
                                        <h3 id="reply-title" class="comment-reply-title">
                                            <div class="leave-a-comment margint20">
                                                <p>WRITE A COMMENT <small><a rel="nofollow" id="cancel-comment-reply-link" href="/muusico/lyrics/all-day/#respond" style="display:none;">Click here to cancel the reply</a></small></p>
                                            </div>
                                        </h3>
                                        <form action="" method="post" id="commentform" class="comment-form">
                                            <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p>
                                            <p class="comment-form-comment"><textarea placeholder=" COMMENT" id="comment" name="comment" cols="45" rows="8" aria-required="true"></textarea></p>
                                            <p class="comment-form-author"><input placeholder=" NAME* " id="author" name="author" type="text" value="" size="30" aria-required="true"></p>
                                            <p class="comment-form-email"><input placeholder=" E-MAIL*" id="email" name="email" type="text" value="" size="30" aria-required="true"></p>
                                            <p class="comment-form-url"><label for="url"></label><input placeholder=" WEB SITE" id="url" name="url" type="text" value="" size="30"></p>
                                            <p class="form-submit"><input name="submit" type="submit" id="submit" class="submit" value="SUBMIT"> <input type="hidden" name="comment_post_ID" value="2598" id="comment_post_ID">
                                                <input type="hidden" name="comment_parent" id="comment_parent" value="0"></p>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>