<ul id="nav" class="sf-menu">
    <li id="menu-item-1844" class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1784 current_page_item"><a href="/muusico/">Home</a></li>
    <li id="menu-item-1817" class=" menu-item menu-item-type-post_type menu-item-object-page"><a href="/muusico/about-2/">About</a></li>
    <li id="menu-item-1841" class=" menu-item menu-item-type-post_type menu-item-object-page"><a href="/muusico/artists/">Artists</a></li>
    <li id="menu-item-1830" class=" menu-item menu-item-type-post_type menu-item-object-page"><a href="/muusico/albums/">Albums</a></li>
    <li id="menu-item-2787" class=" menu-item menu-item-type-post_type menu-item-object-page"><a href="/muusico/genres/">Genres</a></li>
    <li id="menu-item-1849" class=" menu-item menu-item-type-post_type menu-item-object-page"><a href="/muusico/blog/">News</a></li>
    <li id="menu-item-1824" class=" menu-item menu-item-type-post_type menu-item-object-page"><a href="/muusico/contact/">Contact</a></li>
</ul>