<div class="container">
    <div class="row">
        <div class="nav-top menu-container">
            <div class="main-header clearfix">
                <div class="logo pull-left">
                    <div class="limg"><a href="#!"></a></div>
                </div>
                <div class="pull-right">
                    <div class="pull-left">
                        <div id="navigation-menu" class="menu">
                            <nav id="menu">
                                <ul id="nav" class="sf-menu navigate">
                                    <li id="menu-item-1844" class=" menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-1784 current_page_item"><a href="#!">Home</a></li>
                                    <li id="menu-item-1817" class=" menu-item menu-item-type-post_type menu-item-object-page"><a href="#">About</a></li>
                                    <li id="menu-item-1841" class=" menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Artists</a></li>
                                    <li id="menu-item-1830" class=" menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Albums</a></li>
                                    <li id="menu-item-2787" class=" menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Genres</a></li>
                                    <li id="menu-item-1849" class=" menu-item menu-item-type-post_type menu-item-object-page"><a href="#">News</a></li>
                                    <li id="menu-item-1824" class=" menu-item menu-item-type-post_type menu-item-object-page"><a href="#">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="pull-left header-search">
                        <div id="mini-search-wrapper">
                            <form role="search" action="/muusico/" method="get">
                                <input type="search" id="s" name="s" class="s-input" required="">
                                <input type="submit" class="s-submit" value="Search">
                                <div class="searchminicats">
                                    <ul>
                                        <li><input type="radio" name="post_type" value="lyrics" checked="">Lyrics</li>
                                        <li><input type="radio" name="post_type" value="album">Albums</li>
                                        <li><input type="radio" name="post_type" value="artist">Artists</li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="pull-right social-icons">
                        <ul>
                            <li><a href="http://twitter.com/2035themes"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="https://soundcloud.com/2035themes"><i class="fa fa-soundcloud"></i></a></li>
                            <li><a href="http://spotify.com/2035themes"><i class="fa fa-spotify"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="social-media pull-right">
                    <div id="mobile-header">
                        <div id="responsive-menu-button">
                            <span class="top"></span><span class="middle"></span><span class="middlecopy"></span><span class="bottom"></span></div>
                    </div>
                </div>
            </div>
            <div class="pre-header clearfix">
                <div class="lyric-alphabet  pull-left">
                    <ul>
                        <li><a href="#">#</a></li>
                        <li><a href="#">A</a></li>
                        <li><a href="#">B</a></li>
                        <li><a href="#">C</a></li>
                        <li><a href="#">D</a></li>
                        <li><a href="#">E</a></li>
                        <li><a href="#">F</a></li>
                        <li><a href="#">G</a></li>
                        <li><a href="#">H</a></li>
                        <li><a href="#">I</a></li>
                        <li><a href="#">J</a></li>
                        <li><a href="#">K</a></li>
                        <li><a href="#">L</a></li>
                        <li><a href="#">M</a></li>
                        <li><a href="#">N</a></li>
                        <li><a href="#">O</a></li>
                        <li><a href="#">P</a></li>
                        <li><a href="#">Q</a></li>
                        <li><a href="#">R</a></li>
                        <li><a href="#">S</a></li>
                        <li><a href="#">T</a></li>
                        <li><a href="#">U</a></li>
                        <li><a href="#">V</a></li>
                        <li><a href="#">W</a></li>
                        <li><a href="#">X</a></li>
                        <li><a href="#">Y</a></li>
                        <li><a href="#">Z</a></li>
                    </ul>
                </div>
                <div class="submit-lyric pos-center pull-right">
                    <a href="#!/submit"><i class="fa fa-plus"></i> Submit Lyric</a>
                </div>
            </div>
        </div>
    </div>
</div>